
table
{
	
}

body
{
	background-color: #eee;
}
#index
{
	    margin-top: -16%;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #333;
    font-size: 16px;
    white-space: nowrap;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #e7e7e7;
    color: #0b0a0a;
    }
.btnn
{
	margin-right: 13%;
    display: block;
    outline: 0;
}
.img-responsive
{
	       max-width: 100%;
    height: auto;
   margin-top: -9%;
       margin-left: 0%;
}
.emp
{
        width: 66px;
    font-size: 64%;
    height: 28px;
    margin-top: -0.3%;
}
.navbar-default .navbar-nav > li > a {
    color: #0b0b0b;
    width: 100%;
    font-size: 115%;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    color: #0b0b0b;
    background-color: #ebebe4;
}

  .navbar-left {
    float: left !important;
    margin-left: 18%;
 }


.navbar
{
	margin-bottom: 50px;
        border-bottom-color: black;
}
.pager
{
	   margin: 0px 0px;
    list-style: none;
    text-align: center;
}
.panel-default
{
    border-color: black;
}
@media (max-width: 767px){

	.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a {
    color: #333;
    background-color: transparent;
    float: left;
 }
 .btn-default{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    float: right;
    margin-top: -20%;
    margin-right: -21%;
}
	.form-control {
    display: block;
    width: 147%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    margin-left: -47%;
    margin-top: -7%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}


#scroll {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding-top: 0px;
    font-size: 28px;
    bottom: 16px;
    width: 37px;
    height: 32px;
    border-radius: 10px;
}
.btn-primary {
    color: #000000;
    background-color: #5cb85c;
    border-color: #00000;
    font-weight:bold;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #fff;
    /* border-radius: 15px; */
    font-weight: bold
    }
.container
{
	    padding-top: 16px;
}
@media (min-width: 768px){

.navbar-collapse.collapse {
    padding-bottom: 35px;
}
}
.navbar-collapse.collapse
{
	   padding-bottom: 15px;
}

.navbar-header
{
	height: 72px
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 109%;
    height: 51px;
}
.panel-heading
{
	font-size: 192%;
    font-weight: bold;
    margin-top: 0%;	
}